@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

*{
 font-family: 'Fira Sans', sans-serif;
  text-align: center; ;
}

input[type=text]{
  border: 3px black;
  border-radius: 4px;
  background-color: #808080;
}
input[type=submit]{
  margin-top:15px;
  font-size: 15px;
}

input[type="text"]:focus{
  background-color: #ffff;
}